body {
        background: url("Back.png") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
        background-color: white;
        text-align: center;
		font-family: Arial;
         }

div.box, div.cell {
	display: inline-block;
}

.cell input {
	width: 30px;
	height: 30px;
	color: orange;
}

#sudoku {
	font-size: 0;
	text-align: center;
}

.incorrect {
      background-color: red;
}

.correct {
      background-color: #00FF00;
}

.value-provided {
      background-color: #680BAB;
}

#flash {
      margin: 20px;
}
p {
	padding-top: 30px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}